.fav_container {
    height: 100%;
    overflow: auto;
    width: 30%;
    display: flex;
    flex-direction: row;
    position: absolute;
    right: calc(-25% - 20px);
    transition: right 400ms;
}
.fav_container.transit {
    right: 0px;
}
.fav_button_container {
    width: max-content;
    height: max-content;
    margin-bottom: auto;
    margin-top: 10px;
}
.fav_button_container > span {
    background: red;
}
.fav_button_container button {
    border-radius: 50%;
    border: 1px solid #f45e7b;
    color: #f45e7b;
    background: #f4e5e8;
    cursor: pointer;
}
.fav_container .fav_list {
    padding: 15px 5px;
    display: flex;
    flex-direction: column;
    background: #efefef;
    transform: box-shadow 400ms;
}
.fav_container.transit .fav_list {
    box-shadow: -10px 0px 5px -2px rgba(0, 0, 0, 0.3);
}
.fav_container .fav_qoute {

    background-image: linear-gradient(to right, #d5ebf2, #fff);
    margin: 5px;
    padding: 10px;
    display: flex;
    box-shadow: 5px 5px 10px 3px rgba(0, 0, 0, .3);
}
.fav_container .fav_qoute .f_qoute_c {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}
.f_qoute {
    font-weight: bold;
    opacity: .7;
    font-style: italic;
    margin-bottom: 5px;
}
.f_author {
    margin-left: auto;
    font-weight: bold;
    opacity: .5;
}
.control_button > button {
    color: #f45e7b;
}